.display-5{
	font-size: 2.4rem;
}

.font-main{
	font-family:$main-font;
}

.font-secondary{
    font-family: $secondary-font;
}

.lead-2{
	font-size: 1.7rem;
}

.main-menu{
	font-family:Sans-Serif;
	font-size: 1.3rem;
	background-color:#4b332b;
    padding:10px;
    
    a.navbar-brand{
        font-size: 1.3rem;
    }

    div.container-fluid{
        max-width:1300px;
    }
}


.card-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
	width:100%;
	max-width: 1500px;

    @media (max-width: 991px){
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        }
    
    @media (max-width: 767px){
        grid-template-columns: 100%;
        }
    
    @media (max-width: 575px){
        grid-template-columns: 100%;
        }

        &-item{
            display: grid;
            background-color: #fff;
            width: 100%;
            border: 1px solid #b5b5b6;
            border-radius: 5px;
        
            .title{
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 1.4rem;
                color: $dark-color;
                padding: 10px 15px 5px 15px;
                text-decoration: none;
                font-weight: 400;
             }
        
             .title:hover{
                color:#e07a05;
             }
        
             .image{
                width: 100%;
                height: 200px;
                object-fit:cover;
             }
        
             .content{
                padding: 5px 12px 5px 12px;
                color: $dark-color;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 1.27rem;
                line-height: 1.6rem;
             }
        
             .footer{
                width:100%;

                p{
                    font-size: 1.1rem;
                    color:#7e7e7e;
                    padding:0 10px 0 10px;
                }

                a{
                    text-decoration: none;
                    font-size: 1.1rem;
                    color:#888888;
                    padding:0 10px 0 10px;
                }
            
                a:hover{
                    text-decoration: none;
                    color:#e07a05;
                }

                ul{
                    width:100%;
                    padding: 0px;
                    margin-top: 5px;
                    margin-bottom:0px;

                    li{
                        border-top: 1px solid #e9e9e9;
                        padding: 7px;
                        list-style-type:none;
                        background-color: #f8f8f8;
                    }
                }
            }       
        }
}

.btn-orange {
    color: #fff;
    background-color: #ffa600; //#0d6efd
    border-color: #ffa600;
  }
  .btn-orange:hover {
    color: #fff;
    background-color: #f17500;
    border-color: #f17500;
  }
  .btn-check:focus + .btn-orange, .btn-orange:focus {
    color: #fff;
    background-color: #f7a800;
    border-color: #f17500;
    box-shadow: 0 0 0 0.25rem rgba(253, 182, 49, 0.5);
  }
  .btn-check:checked + .btn-orange, .btn-check:active + .btn-orange, .btn-orange:active, .btnorange.active, .show > .btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #f17500;
    border-color: #f07400;
  }
  .btn-check:checked + .btn-orange:focus, .btn-check:active + .btn-orange:focus, .btn-orange:active:focus, .btn-orange.active:focus, .show > .btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(253, 171, 49, 0.5);
  }
  .btn-orange:disabled, .btn-orange.disabled {
    color: #fff;
    background-color: #ffa600;
    border-color: #ffa600;
  }
