.display-5{
	font-size: 2.4rem;
}

.font-main{
	font-family:$main-font;
}

.font-secondary{
    font-family: $reserve-font;
}

.lead-2{
	font-size: 1.55rem;
}

.main-menu{
	font-family:Sans-Serif;
	font-size: 1.3rem;
	background-color:#646466;
    padding:10px;

    a.navbar-brand{
        font-size: 1.3rem;
    }

    div.container-fluid{
        max-width:1300px;
    }
}


.card-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 20px;
	width:100%;
	max-width: 1500px;

    @media (max-width: 991px){
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
        }
    
    @media (max-width: 767px){
        grid-template-columns: 100%;
        }
    
    @media (max-width: 575px){
        grid-template-columns: 100%;
        }
}

.card-container-item{
	display: grid;
	background-color: #fff;
	width: 100%;
	min-height: 5em;
	border: 1px solid #b5b5b6;
	border-radius: 5px;

    .title{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 1.35rem;
        color: $dark-color;
        padding: 10px 15px 5px 15px;
        text-decoration: none;
        font-weight: 400;
     }

     .title:hover{
        color:#bf6600;
     }

     .image{
        width: 100%;
        height: 200px;
        object-fit:cover;
     }

     .content{
        padding: 5px 12px 5px 12px;
        color: $dark-color;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.1rem;
     }

     .footer{
        width:100%;
        margin-bottom:5px;
    }

    .footer a{
        text-decoration: none;
        font-size: 1.1rem;
        color:#0063e6;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer a:hover{
        text-decoration: none;
        color:#5b5c5e;
    }

}
