*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	background-color: white;
	position: relative;
	font-family:Sans-Serif;
	width:100%;
	min-height:100vh;
}

.main-menu{
	font-family:Sans-Serif;
	font-size: 1.3rem;
	background-color:#646466;
    padding:10px;
}

.main-menu a.navbar-brand{
	font-size: 1.3rem;
}

.main-menu div.container-fluid{
	max-width:1280px;
}


.head-container{
	display:grid;
    background: url('./img/default_bg_head.jpg') no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 	
	font-family: "roboto";
	grid-template-columns:20% 60% 20%;
	grid-template-rows:1fr;	
	grid-gap:0px;
	height:100vh;
	color: #ffffff;
}

.head-container-item{
	display: grid;
	padding: 10px;
	text-align:center;
	align-content: center;
}

.head-container-item button{
	width: 200px;
	height: 50px;
	padding: 10px;
}

.landing-container{
	min-height: 100vh;
	width: 100%;
	padding: 5% 10% 5% 10%;
	align-items: center;
}

@media screen and (orientation: portrait){
	.head-container{
		grid-gap:0px;
		grid-template-columns: 10% auto 10%;
	}
	
	.head-container-item{
		padding: 0px;
	}

	.landing-container{
		margin-top:10px;
		margin-bottom: 10px;

	}
}

@media (max-width: 600px){
	.head-container{
		grid-gap:0px;
		grid-template-columns: 10% auto 10%;
	}

	.landing-container{
		margin-top:10px;
		margin-bottom: 10px;

	}
}

@media (max-width: 780px){
	.head-container{
		grid-gap:0px;
		grid-template-columns: 15% auto 15%;
	}

	.landing-container{
		margin-top:10px;
		margin-bottom: 10px;

	}
}

.footer{
	font: 1.2em sans-serif;
	color: #fff;
}

.footer div{
	max-width:1250;
	margin-bottom:auto;
	margin-top:auto;
}

.footer a{
	text-decoration:none;
    color:#e8e7e3;
}

.footer a:hover{
	color:#ffc800;
}

/* Типография */
.display-5{
	font-size: 2rem;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local("Roboto"),
		 local("Roboto-Regular"),
		 url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) 
		 format("woff2");
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  
